#uniqueElement{
  background-color: rgb(49, 226, 43);
}

.classOfElements{
  background-color: rgb(62, 80, 241); 
}

hr{
  height: 10px;
  background-color: rgb(114, 109, 109);
}

a{
  color: rgb(255, 1, 170); 
}

*{
  /*border: 1px solid red;*/
}